<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<array>
		<dict>
			<key>Bundles</key>
			<array>
				<string>com.apple.Music</string>
				<string>com.apple.Media</string>
			</array>
		</dict>
		<dict>
			<key>Executables</key>
			<array>
				<string>Media</string>
				<string>MusicUIService</string>
				<string>MediaRemoteUI</string>
				<string>MediaRemoteUIService</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
